- 
    var menuItemsHeader = [
        {
        mod: "main",
        title: "Главная", 
        link: "./index.html"
        },
        {
        mod: "works",
        title: "Мои работы", 
        link: "./works.html"
        },
        {
        mod: "about",
        title: "Обо мне", 
        link: "./about.html"
        },
        {
        mod: "blog",
        title: "Вопросы и ответы", 
        link: "./blog.html"
        }       
    ]

- 
    var menuItems = [
        {
        title: "Главная", 
        link: "./index.html"
        },
        {
        title: "Мои работы", 
        link: "./works.html"
        },
        {
        title: "Обо мне", 
        link: "./about.html"
        },
        {
        title: "Вопросы и ответы", 
        link: "./blog.html"
        }
    ]

-
    var socialsItems = [
        ['vk', 'https://vk.com/morozovaey', 'vk'],
        ['gh', 'https://github.com/usp-evgeniya', 'github'],
        ['in', 'https://www.linkedin.com/in/evgeniya-morozova-65549769', 'in']
    ]

- 
    var skillsList = [
        {
        skillsGroup: "Design", 
        skills: [["Adobe Photoshop","90"], ["Adobe Illustrator","70"]]
        },
        {
        skillsGroup: "Frontend", 
        skills: [["HTML5","90"], ["CSS3","75"], ["JavaScript & jQuery","60"]]
        },
        {
        skillsGroup: "Backend", 
        skills: [["PHP","30"], ["MySQL","30"], ["Node.js & npm","40"], ["Mongo.db","30"]]
        },
        {
        skillsGroup: "WorkFlow", 
        skills: [["Git","75"], ["Gulp","70"], ["Webpack","30"]]
        }
    ]
-
    var contactsList = [
        {
        type: "skype", 
        contact: "humming-bird7",
        svg: "skype",
        link: "skype:humming-bird7"
        },
        {
        type: "email", 
        contact: "morozovaey@gmail.com",
        svg: "envelope",
        link: "mailto:morozovaey@gmail.com"
        },
        {
        type: "phone", 
        contact: "+7 (916) 412 07 02",
        svg: "phone",
        link: "tel:89164120702"
        },
        {
        type: "address", 
        contact: "г. Москва, район Аэропорт",
        svg: "map_marker",
        link: "https://www.google.ru/maps/place/%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B5%D1%8F+%D0%90%D1%8D%D1%80%D0%BE%D0%BF%D0%BE%D1%80%D1%82/@55.800155,37.5321896,15z/data=!4m8!1m2!2m1!1z0JDRjdGA0L7Qv9C-0YDRgg!3m4!1s0x0:0xabe0a8166d18b2fc!8m2!3d55.8017378!4d37.531853"
        },          
    ]

-
    var articlesList = [
        {
        title: "Зачем нужен сайт?", 
        date: "О том, чем Вам может быть полезен свой сайт",
        text: "Сайт позволяет продавать товары и услуги онлайн, рекламировать их, позволяет Вашим потенциальным потребителям узнать о Вас и стать постоянными клиентами. Сайт является визитной карточкой компании и облегчает доступ к информации о ней. Сайт позволяет взаимодействовать с потенциальными клиентами через формы обратной связи, контактные форумы, комментарии."
        },
        {
        title: "Какие бывают сайты?", 
        date: "Коротко о разных видах сайтов",
        text: "Можно выделить: Целевые страницы (Landing Page, Лендинг) – одностраничные сайты, реклама товаров, услуг, сбор контактных данных и заявок от потенциальных клиентов. Сайты-портфолио (сайты-визитки) – размещение портфолио и информации об индивидуальном специалисте. Информационные сайты (в т.ч. Корпоративные) – размещение информации о компании, услугах, работах. В ряде случаев дополняются формами сбора контактных данных Интернет-магазины – сайты для продажи товаров. Блог – сайты для ведения блога – статей, размещаемых в открытом доступе."
        },
        {
        title: "Как понять, какой сайт мне нужен?", 
        date: "Основные критерии для выбора сайта",
        text: "Все зависит от того, чем Вы занимаетесь, какой товар, услугу продаете, каких целей хотите достичь с помощью сайта (проинформировать пользователей, получить их контактные данные, чтобы выполнить заказ или делать рассылку (направлять информационные письма)). В выборе сайта вам также поможет информация, какие сайты бывают."
        },
        {
        title: "Почему стоит заказать сайт, а не делать самому?", 
        date: "О том, делать ли самому или заказать у профессионала",
        text: "Если Вы создаете сайт сами, Вы тратите время на освоение новых инструментов, получение новых знаний. Это касается даже конструкторов сайтов. Лучше это время вложить в свою целевую деятельность и развитие своего бизнеса. Если Вы хотите проверить какую-то идею через сайт и не вкладываться в него значительно, конечно, можно использовать какой-то простой шаблон. Если же Вы хотите иметь качественную визитную карточку в интернет-пространстве, удобную для Вас и Ваших клиентов, лучше заказывать сайт у профессионалов."
        },    
        {
        title: "Как заказать сайт?", 
        date: "Контакты для связи",
        text: "Вы можете написать мне на электронную почту: morozovaey@gmail.com или позвонить по телефону: +7(916)412-07-02 (в т.ч. WhatsApp). Буду рада помочь по любым вопросам, связанным с созданием, поддержкой и аудитом сайтов."
        },    
        {
        title: "Что такое шаблоны сайтов?", 
        date: "Плюсы и минусы шаблонных сайтов",
        text: 'Шаблон сайта – это уже созданный сайт, который может использоваться в качестве сайта разными компаниями, купившими его. Они просто заполняют шаблон своей информацией и используют его. Плюсы подхода – экономичность по деньгам и времени. Минусы – это не уникальный сайт, созданный под Ваши потребности и желания. Чтобы подобрать шаблон, который будет максимально покрывать Ваши потребности, также требуется время. Кроме того, вероятно, шаблон не сможет покрыть Ваши потребности на 100%.'
        },    
        {
        title: "Почему платные шаблоны лучше бесплатных?", 
        date: "Преимущества платных шаблонов",
        text: 'Прежде всего платные шаблоны обладают гораздо большей безопасностью. Например, на сайте themeforest.net можно купить хорошие шаблоны, прошедшие дополнительную строгую проверку независимых от создателей шаблона специалистов компании. Кроме того, зачастую платные шаблоны имеют поддержку со стороны разработчика, Вы можете всегда задать свои вопросы, а также периодически обновляются и совершенствуются под современные реалии. Если Вам потребуется помощь в подборе, установке, наполнении сайта, буду рада помочь.'
        },    
        {
        title: "Как сделать сайт самостоятельно?", 
        date: "О том, как сделать сайт самим и стоит ли этим заниматься",
        text: 'Делать сайт самостоятельно я бы не советовала, чтобы Вы не потратили много сил и времени для достижения результата, который профессионал может сделать гораздо быстрее. Но если всё же Вы хотите поэкспериментировать сами, можете рассмотреть конструктор Tilda - tilda.cc – он довольно гибкий, функциональный и современный. Когда я читала обзоры по конструкторам, сама остановилась на нем, в том числе для коммерческих проектов. Оптимальный тариф - Personal. Он платный, но дает доступ ко всем основным возможностям платформы. Также можно рассмотреть варианты использования шаблонов.'
        },    
        {
        title: "Что такое SEO?", 
        date: "Кратко о поисковой оптимизации",
        text: 'SEO – Search Engine Optimization – поисковая оптимизация с целью поднятия позиции сайта в поисковой выдаче по определенным запросам пользователей. Необходима для увеличения количества посетителей сайта и увеличения дохода компании. SEO оптимизация достигается путем создания качественного контента на сайте, хорошей структуры, адаптивности под мобильные устройства, увеличения скорости загрузки, качественного кода, грамотного использования разметки заголовков, создания обзоров, блогов, страниц в соц. сетях.'
        },    
        {
        title: "Нужно ли делать сайт адаптивным для мобильных устройств?", 
        date: "Когда сайты удобно смотреть с мобильного",
        text: 'Адаптивный дизайн – это дизайн, позволяющий пользователям одинаково удобно просматривать ваш сайт на разных типах устройств. Роскошь это или необходимость? На мой взгляд, это уже необходимость. В среднем мы просматриваем телефон около 150 раз в день. Около 70% пользователей делают покупки с мобильных устройств минимум раз в месяц. Доступ к мобильному интернету позволяет людям быть постоянно в сети и делает поиск необходимой информации мгновенным. И еще, количество мобильных устройств неуклонно растет. Те компании, что облегчают своим потребителям доступ к своим товарам и услугам обыгрывают своих конкурентов.'
        },    
        {
        title: "Что такое CMS и зачем она нужна?", 
        date: "Легкое управление содержимым сайта",
        text: 'CMS – content management system – система управления контентом (содержимым) сайта. Нужна она для удобства – чтобы легко вносить правки на сайт, обновлять и добавлять информацию. То, какую информацию можно обновлять и добавлять зависит от устройства сайта и самой CMS. Такие системы бывают как платные, так и бесплатные. Из бесплатных наибольшее распространение в мире получила CMS WordPress. В ряде случаев под конкретный сайт создаются индивидуальные административные панели, позволяющие добавлять и редактировать информацию на сайте.'
        },    
        {
        title: "Зачем нужна аналитика Яндекс.Метрика и Google Analytics?", 
        date: "Что дает аналитика по веб-сайту",
        text: 'Подключать аналитику Яндекс.Метрика и Google Analytics на сайт нужно для того, чтобы иметь возможность проанализировать, откуда приходят пользователи на сайт, какие из источников размещения ссылки на сайт наиболее популярны, по каким поисковым запросам пользователи находят сайт и понять, что можно улучшить. Также можно измерить конверсию – сколько посетителей сайта совершили какое-то действие, например, оставили свои контакты. Это позволяет понять, насколько эффективно работает сайт и что можно сделать, чтобы он работал еще лучше.'
        },    
        {
        title: "Что такое домен?", 
        date: "О том, что такое домен и для чего он нужен",
        text: 'Домен или доменное имя – это имя сайта, отображаемое в адресной строке. Благодаря домену пользователи могут легко попадать на нужный сайт. Ведь домен легче запомнить, чем IP адрес, состоящий из комбинации цифр. Важно, насколько доменное имя соответствует названию компании и легко запоминается. Пример домена – colibri-web.ru'
        },    
        {
        title: "Как выбрать и где купить домен?", 
        date: "Краткие рекомендации по выбору домена",
        text: 'Я рекомендую покупать домен у официальных регистраторов. Список таковых можно найти в Интернете. У них есть лицензия, они давно на рынке и имеют хорошую репутацию. Сама пользуюсь REG.RU и пока всем довольна. Подобрать домен лучше так, чтобы он максимально точно ассоциировался с компанией, был коротким и легко запоминаемым.'
        }              
    ]

- 
    var menuItemsIntro = [
        {
        title: "Мои работы", 
        link: "./works.html",
        mod: "works"
        },
        {
        title: "Обо мне", 
        link: "./about.html",
        mod: "about"
        },
        {
        title: "Вопросы и ответы", 
        link: "./blog.html",
        mod: "blog"
        }
    ]

- 
    var menuItemsAdmin = [
        {
        title: "Обо мне", 
        link: "./about.html",
        mod: "about"
        },
        {
        title: "Вопросы и ответы", 
        link: "./blog.html",
        mod: "blog"
        },
        {
        title: "Мои работы", 
        link: "./works.html",
        mod: "works"
        },
    ]

- 
    var commentsList = [
        {
        comment: "Прохождение обучения веб-разработке в LoftSchool — это не просто так! 2 месяца только самых тяжелых испытаний и бессонных ночей!", 
        person: "Ковальчук Дмитрий",
        link: "https://vk.com/kovalchukdn",
        occupation: "Основатель школы",
        img: "img/content/dmitry.jpg"
        },
        {
        comment: "Женя прошла все три курса Профессии в моей группе, продуктивно поработала и получила отличные знания и навыки.", 
        person: "Болотова Ольга",
        link: "https://vk.com/olbol",
        occupation: "Наставник группы",
        img: "img/content/olya.jpg"
        },
                {
        comment: "Выражаю благодарность Евгении за создание моего сайта poledanceomsk.ru. Вся работа была ответственно выполнена точно в оговариваемый срок, что является для меня самым важным преимуществом! Все мои пожелания по наполнению сайта были сделаны, а также Евгения привнесла свои творческие коррективы. По сравнению с прошлым вариантом сайта количество заявок увеличилось, что не может не радовать) Спасибо Вам еще раз за Ваше творчество и профессиональный подход!", 
        person: "Кнышева Натали",
        link: "https://vk.com/knysheva_no",
        occupation: "Владелица студии танцев Diva's",
        img: "img/content/natali.jpg"
        }
    ]
