.blog__sidebar-wrapper {
    width: 34%;
    display: flex;
    justify-content: flex-end;
    position: relative;

    @include tablets {
        display: none;
    }

    @include desktop-large {
        width: 26.5%;

    }
}

.blog__sidebar {
    width: 100%;
    padding: 70px 70px 70px 0;
    
    @include desktop-large {
        padding: 70px 100px 70px 0;

    }
    
}

.blog__sidebar.fixed {
    position: fixed;
    top: 0px;
    left: 0;
    width: 34%;

    @include desktop-large {
        width: 26.5%;

    }
}

.blog__sidebar.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    top: auto;


}


.blog__item {
    padding: 20px;
    text-align: right;
    line-height: 26px;
    cursor: pointer;
    transition: all 0.5s;
}

.active.blog__item {
    @include roboto(600);
    color: $marine;
    border-right: 3px solid $marine;
}

.blog__item:hover {
    color: $marine;
}