.content {
    display: flex;
    width: 100%;

    
    @include tablets {
        flex-direction: column;
    }

    &--blog {
        margin-bottom: 170px;
        
        @include tablets {
            margin-bottom: 234px;
        }

        @include phones {
            margin-bottom: 275px;
        }

    }


}