
.triangles {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 50;
    margin-bottom: -3px;
    fill: $white;

    @include tablets {
        margin-bottom: -3px;
    }

    @include phones {
        margin-bottom: -1px;
    }
}

.triangles--about {

    .triangle__left {
        fill: #efeee9;
    }

    .triangle__right {
        fill: #eeebdf;

        @include tablets {
            fill: #efeee9;
        }
    }
}

.triangles--blog {
    
    .triangle__left {
        fill: $white;
    }

    .triangle__right {
        fill: $white;
    }
}

.triangles--works {
    
    .triangle__left {
        fill: #faf8f0;
    }

    .triangle__right {
        fill: #faf8f0;
    }
}
